# --- Konfigurasi IDE (IntelliJ) ---
.idea/
*.iml
*.iws
/shelf/
/workspace.xml
/mavenHomeManager.xml

# --- File Hasil Compile (Sampah Build) ---
out/
target/
build/
*.class

# --- Database & HTTP Client IDE ---
/dataSources/
/dataSources.local.xml
/httpRequests/

src/config/database.properties

# --- File Sistem Operasi (Mac/Windows) ---
.DS_Store
Thumbs.db